@CHARSET "UTF-8";
.authenticate_form{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 175px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.authenticate_form input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(255,255,255,0.2);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.authenticate_form input[type=password]{
	width: 250px;
	height: 30px;
	background: rgba(255,255,255,0.2);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.authenticate_form input[type=submit]{
	width: 260px;
	height: 35px;
	background: rgba(255,255,255,0.7);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #1D457B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.authenticate_form p{
	width: 260px;
	height: 35px;
	color: #DF4040;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	visibility: hidden;
}

.authenticate_form input[type=submit]:hover{
	opacity: 0.8;
}

.authenticate_form input[type=submit]:active{
	opacity: 0.6;
}

.authenticate_form input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.authenticate_form input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.authenticate_form input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}